<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Angular Uni</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li class="active"><a [routerLink]="['']">Current</a></li>
        <li><a [routerLink]="['/step1']">Step 1</a></li>
        <li><a [routerLink]="['/step2']">Step 2</a></li>
        <li><a [routerLink]="['/step3']">Step 3</a></li>
        <li><a [routerLink]="['/step4']">Step 4</a></li>
        <li><a [routerLink]="['/step5']">Step 5</a></li>
        <li><a [routerLink]="['/step6']">Step 6</a></li>
        <li><a [routerLink]="['/about']">About</a></li>
      </ul>
    </nav>
  </div>
</div>